* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  /* background: #f5e383 url(bg_top.jpg) no-repeat center top fixed; */
  /* 4G → #292b2a */
  word-break: break-word;


}

body:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background: #f5e383 url(bg_top.jpg) no-repeat center top;
  /* background-size:cover; */
}