* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  /* background: #f5e383 url(bg_top.jpg) no-repeat center top fixed; */
  /* 4G → #292b2a */
  word-break: break-word;

  background-image: url('bg_top.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}